<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twiter clon</title>
    <link rel="icon" type="image/svg+xml" href="./assets/iconos/logo-x.svg" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="module" src="./js/index.js"></script>
</head>

<body>
    <div class="header-inline-container">
        <%- include("./componentes/header-inline") %>
    </div>
    
    <div class="body-container">
        <div class="header">
            <%- include("./componentes/header-up") %>
        </div>

        <div class="container-postear">
            <%- include("./componentes/form-createTweet.ejs") %>
        </div>

        <div class="container-app">
            <main class="tweet-container--index">
                <div class="tweet-container--index">
                    <% if (tweets && tweets.length > 0) { %>
                        <% tweets.forEach(tweet => { %>
                          <%- include("componentes/tweets", { tweet: tweet }) %>
                        <% }) %>
                      <% } else { %>
                        <p style="text-align: center;">No hay tweets todavía 🐦</p>
                      <% } %>
                </div>
            </main>
        </div>
    </div>

    <div class="container-article">
        <div class="search">
            <input type="text" placeholder="Buscar">
        </div>

        <%- include("./componentes/card-auth.ejs") %>

        <%- include("./componentes/card-suscribe.ejs") %>

        <%- include("./componentes/card-tendences.ejs") %>

        <%- include("./componentes/card-follow.ejs") %>
    </div>
</body>

</html>