<head>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/componentes/tweets.css">
</head>

<section class="tweets-container">
    <figure class="perfil-figure">
        <img src="<%= imagen_perfil || 'https://unavatar.io/x/noHayNadaPorAqui' %>" alt="imagen-perfil" class="perfil-imagen">
    </figure>
    <article class="tweet-article">
        <div>
            <h3><%= nombre %></h3>
            <p><%= nombre_usuario %></p>
        </div>
        <div>
            <p class="tweet"><%= contenido %></p>
            <% if (imagen_perfil) { %>
                <picture class="picture-imagen--tweet">
                    <img src="<%= imagen_perfil %>" alt="">
                </picture>
            <% } %>
        </div>
        <div class="iconos">
            <figure>
                <img src="../assets/iconos/message.svg" alt="">
            </figure>
            <figure>
                <img src="../assets/iconos/retweet.svg" alt="">
            </figure>
            <figure>
                <img src="../assets/iconos/hearth.svg" alt="">
            </figure>
            <figure>
                <img src="../assets/iconos/infografia.svg" alt="">
            </figure>
            <figure>
                <img src="../assets/iconos/bookmark.svg" alt="">
            </figure>
        </div>
    </article>
</section>